<div class="mt-4 flex justify-between rounded-xl bg-gradient-to-r bg-white border border-gray-200 dark:border-gray-700 p-2 sm:p-9 dark:bg-gray-800">
  <div>
    <div class="flex justify-between mb-1">
      <h3 class="mb-3 text-xl font-medium text-gray-900 dark:text-white">{{ experiencia.titulo }}</h3>
    </div>
    <div>
      <p class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300">
        {{ experiencia.descripcion }}
      </p>
    </div>
    <div>
      <p class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300">
        {{ experiencia.fecha }}
      </p>
    </div>
  </div>
  <div>
    <button *ngIf="loading" type="button" class="mx-auto inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      Cargando
    </button>
    <img *ngIf="!loading" class="rounded-t-lg mx-auto h-36" [attr.src]="imagePath" alt="Imagen educacion" />
  </div>
  <div *ngIf="userService.isLoggedIn()">
    <div>
      <div class="flex justify-between mb-1">
      </div>
      <div>
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
      </div>
      <div>
        <button type="button" (click)="this.delete()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Borrar</button>
      </div>
    </div>
  </div>
</div>
