<div class="mt-4 flex justify-between rounded-xl bg-gradient-to-r bg-white border border-gray-200 dark:border-gray-700 p-2 sm:p-9 dark:bg-gray-800">
  <div>
    <div class="flex justify-between mb-1">
      <a href="{{ proyecto.url }}" target="_blank"><h3 class="mb-3 text-xl font-medium text-gray-900 dark:text-white">{{ proyecto.titulo }}</h3></a>
    </div>
    <div>
      <p class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300">
        {{ proyecto.descripcion }}
      </p>
    </div>
  </div>
  <div *ngIf="userService.isLoggedIn()">
    <div>
      <div class="flex justify-between mb-1">
      </div>
      <div>
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
      </div>
      <div>
        <button type="button" (click)="this.delete()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 w-full dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Borrar</button>
      </div>
    </div>
  </div>
</div>

